<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="../static/css/index.css">
<head>
  <header>
    {% block header %}{% endblock %}
    <!-- <center> -->
      <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message">
                    <span>{{ messages[0] }}</span>
                    <button class ="close-btn" onclick="this.parentElement.style.display='none';">x</button>
                </div>
            {% endif %}
        {% endwith %} -->
      <!-- </center> -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
  </header>
</head>

<body class = "scrollable-container">
<section class="content">
 
  {% block content %}{% endblock %}
</section>

</body>
<br>

<script>
  // Function to hide flash messages after 5 seconds
  setTimeout(function() {
      var flashes = document.querySelectorAll('.flashes li');
      flashes.forEach(function(flash) {
          flash.style.display = 'none';
      });
  }, 5000); // 5000 milliseconds = 5 seconds
</script>