<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="../static/css/index.css">
<head>
  <header>
    {% block header %}{% endblock %}
    <center>
      {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message">
                    <span>{{ messages[0] }}</span>
                    <button class="close-btn" onclick="this.parentElement.style.display='none';">x</button>
                </div>
            {% endif %}
        {% endwith %}
      </center>
  </header>
</head>

<body class = "scrollable-container">
<section class="content">
 
  {% block content %}{% endblock %}
</section>

</body>
<br>
