<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100">
      <!-- Left-aligned items -->
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item ml-auto"> <!-- Spacer to push right-aligned items -->
      </li>
      <!-- Right-aligned items -->
      {% if session.get('is_admin') %}
      <li class="nav-item">
        <a class="nav-link" href="/admindashboard">Admin</a>
      </li>
      {% endif %}
      {% if session.get('username') %}
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
