{% extends 'base.html' %}

{% block header %}
<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li style="float:right"><a class="btn active" href="/profile">Profile</a></li>
    </ul>
</nav>
<br>
<h1>{% block title %}Profile Page{% endblock %}</h1>
<table border=5>  
    <thead>  
        <td>ID</td>    
        <td>Username</td>
        <td>Feedback</td>  
    </thead>  
       
    {% for row in rows %}  
        <tr>  
            <td>{{row["id"]}}</td>  
            <td>{{row["username"]}}</td>
            <td>{{row["feedback"] | replace('\n', '<br>')|safe}}</td>    
        </tr>  
    {% endfor %}  
</table> 
{% endblock %}

{% block content %}
<center><h2>Skills Representation</h2></center>
<br>
<div class="row" >
    <div class="column">
        <h3>Hard Skills</h3>
        {% if hard_skills_list %}
            <img src="{{ url_for('profile.plot') }}" alt="Hard Skills Plot">
        {% else %}
            <p>No Hard Skills data available.</p>
        {% endif %}
    </div>
    <div class="column">
        <h3>Soft Skills</h3>
        {% if soft_skills_list %}
            <img src="{{ url_for('profile.plot_soft_skills') }}" alt="Soft Skills Plot">
        {% else %}
            <p>No Soft Skills data available.</p>
        {% endif %}
    </div>
</div>
<br><br><br><br><br><br><br>
<div class="row" >
<div class="column">
<h1>Upload your CV for New Feedback</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="form_type" value="get_feedback">
        <input type="file" name="file" accept=".pdf, .docx" required>
        <button type="submit">Upload</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

<!-- New form for additional request -->
<div class="column">
<h1>Update User's Skills</h1>
    <form method="POST" enctype="multipart/form-data">
            <input type="hidden" name="form_type" value="update_user_skills">
            <label for="Resume-File" >File Upload*</label>
            <input type="file" name="file" accept=".pdf, .docx" required>
            <label for="highest_education_obtained" >Highest Education Obtained*<span class="tooltip-element" tooltip="Degree">?</span></label>
            <select name="highest_education_obtained" id="highest_education_obtained" required="required" aria-required="true">
            <option value="diploma" selected="true" id="highest_education_obtained-0">Diploma</option>
            <option value="advance_diploma" id="highest_education_obtained-1">Advance Diploma</option>
            <option value="bachelors_degree" id="highest_education_obtained-2">Bachelor's Degree</option>
            <option value="master_degree" id="highest_education_obtained-3">Master's Degree</option>
            <option value="phd" id="highest_education_obtained-4">Phd</option>
            </select>
            <label for="number_of_hours" >Number of Hours in the Field of Interest *<span class="tooltip-element" tooltip="0 - 10000 HRS">?</span></label>
            <input type="text" placeholder="1234" name="number_of_hours" access="false" id="number_of_hours" title="0 - 10000 HRS" required="required" aria-required="true">
            <label for="certification_number" >Number of Certification in the Field of Interest.<span class="tooltip-element" tooltip="Example: User ABC has AWS Cloud Practitioner and ECC CEH.  User has 2 certifications, hence the input will be 2">?</span></label>
            <input type="text" placeholder="1" name="certification_number" access="false" id="certification_number" title="Example: User ABC has AWS Cloud Practitioner and ECC CEH.  User has 2 certifications, hence the input will be 2" required="required" aria-required="true">
 
            <button type="submit">Upload</button>
    </form>
</div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


{% endblock %}

